[MAIN]

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    duplicate-code,
    assignment-from-no-return

[FORMAT]
max-line-length=300

[TYPECHECK]
generated-members=cv2.*
